/*font body*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');

/*font h1*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url("../menu/fondo.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.content {
    max-width: 700px;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.content h1 {
    font-size: 4.3rem;
    margin-bottom: 0.8rem;
    color: #fff44f;
    font-family: 'Dancing Script', cursive;
}

.content p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
}

.btn {
    padding: 0.75rem 1.25rem;
    margin-top: .8rem;
    font-size: 1.1rem;
    font-weight: 550;
    color: #fff44f;
    background-color: #111;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .3s;
}

.btn:hover {
    opacity: 0.7;
}